<div class="container">
  <br>
  <div class="list-group">
    <div class="list-group-item list-group-item-action active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">About application :</h5>
      </div>
      <p class="mb-1">
          Bonjour , :) une simple présentation de l'application.
          je n'ai pas respecté littéralement le nommage de certain component dans l'application , donc j'ai choisi les miens
        , aussi , j'ai rajouté à l'application d'autre tàches comme editer une poste , rating , etc...
      </p>
      <small> Merci , et bon chance pour vous.</small>
    </div>

    <div class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Accées à l'application : </h5>
      </div>
      <p class="mb-1">Pour pouvoir acceder à l'application vous devez étre connecté ou créer un nouveau utilisateur.</p>
    </div>

    <div class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Info : </h5>
      </div>
      <p class="mb-1"> Vous pouvez love ou don't love les autres posts , mais pas les votres.</p>
      <p class="mb-1">  Vous pouvez editer / supprimer seulement vos propres posts.</p>
    </div>

    <div class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Autres : </h5>
      </div>
      <p class="mb-1"> J'ai utilisé les deux méthodes template et réactive pours les formulaires .</p>
      <p class="mb-1"> Je n'ai pas respecté le nommage de certain component .</p>
      <i>Example :</i> <br>

      <small> Item.component == > post.List.component</small> <br>
      <small> list.item.component == > post.List.item.component</small><br>
      <p class="mb-1"> J'ai désactivé certain roots , donc vous devez étre connecté ou creér un compte .</p>
      <p class="mb-1"> Je n'ai pas fais la connexion avec firebase , donc les données codés en dure dans le service.</p>
      <p class="mb-1"> Je me suis appuié sur des modeles des données : USER / POST .</p>
      <p class="mb-1"> Lors de création de l'application je n'ai pas ignorer les tests unitaires ( --skipTest == True  ) .</p>
    </div>

  </div>
</div>
